.brands {
  background-color: $blueberry;
  padding: 0 $main-padding;
  padding-top: 70px;
  position: relative;
  &__separator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    &-svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 85px;
    }
    &-fill {
      fill: #FFFFFF;
    }
  }
  &__logo {
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  &__h2 {
    color: $white;
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 30px;
  }
  &__slider {
    max-width: 1500px;
    margin: 0 auto;
  }
  &__image {
    max-width: 100px;
  }
}

