.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 $main-padding;
  background-image: linear-gradient(to bottom, $blueberry, rgba(36, 139, 89, 0)),
    url("../../images/bg-map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $white;
    width: 100%;
    min-height: 50vh;
    border-radius: 5px;
  }
  &__title {
    color: $main-color;
    font-size: 1.7rem;
  }
  &__text {
    font-size: 1.3rem;
    color: $text-gray;
  }
  &__map {
    padding: 20px;
    background-color: $main-color;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 30%;
      width: 0;
      height: 0;
      border: 30px solid transparent;
      border-left-color: transparent;
      border-left-style: solid;
      border-left-width: 30px;
      border-right-color: transparent;
      border-right-color: $main-color;
      border-left: 0;
      margin-top: -30px;
      margin-left: -30px;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $main-padding;
  }
  &__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: $main-color;
    padding: 10px 20px;
    color: $white;
    font-size: 1.3rem;
    border-radius: 5px;
    position: relative;
    width: fit-content;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-right-color: transparent;
      border-right-style: solid;
      border-right-width: 20px;
      border-left-color: transparent;
      border-left-color: $main-color;
      border-right: 0;
      margin-top: -20px;
      margin-right: -20px;
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid $white;
    font-size: 1.5rem;
  }
  &__leaflet{
    height: 100%;
    width: 100%;
  }
}
.map  {
  background-color: red;
  height: 50vh;
  width: 1000px;
}