.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 $main-padding;
  height: 100px;
  color: $white;
  background-image: linear-gradient(
    to right,
    #072042,
    #082449,
    #0a2750,
    #0d2b58,
    #0f2f5f,
    #0a3665,
    #043d6b,
    #004470,
    #004e72,
    #00586f,
    #00606a,
    #136763
  );
  &__logo {
    width: 100px;
  }
  &__left {
    font-weight: 600;
  }
  &__link {
    color: $white;
  }
  @media (max-width: 768px) {
    padding: 0 $main-padding;
    justify-content: center;
  }
}
