.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px $main-padding;
  height: 150px;
  color: $white;
  background: linear-gradient(to left, $darker-main-color, $main-color);
  &__logo{
    width: 100px;
  }
  &__left {
    font-weight: 600;
  }
  &__link {
    color: $white;
  }
  @media (max-width: 768px){
    padding: 0 $main-padding;
    justify-content: center;
  }
}