.navigation {
  display: flex;
  position: fixed;
  transition: 0.2s;
  z-index: 1500; // z-index alto porque el mapa viene con un z-index de 1000 por defecto y lo tapa
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: $white;
  padding: 30px $main-padding;
  &-alt {
    background-color: $main-color;
    padding: 20px 1vw;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    @media (max-width: 768px){
      display: none;
    }
    &-list {
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      transition: 0.2s;
      cursor: pointer;
      padding: 8px;
      border-radius: 5px;
      position: relative;
      transition: $fast-bezier;
      &:hover,
      &:focus,
      &:active {
        color: $main-color;
        background-color: $white;
        @include shadow;
        transform: scale(1.05);
        & > .navigation__subnav {
          visibility: visible;
          opacity: 1;
          top: 55px;
        }
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 50px;
        left: 0;
        top: 20px;
      }
    }
  }
  &__subnav {
    position: absolute;
    margin: 0;
    right: -100%;
    left: -100%;
    margin: 0 auto;
    width: 230px;
    top: 65px;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    @include shadow;
    transition: 0.2s;
    &-list {
      border-radius: 0;
      display: block;
      text-align: center;
      margin: 0;
      color: $main-color;
      padding: 10px 10px;
      transition: $bezier;
      &:hover {
        background-color: $main-color;
        color: white;
        border-color: $main-color;
        transform: scale(1.1);
      }
    }
  }
  &__logo {
    &-img {
      width: 25px;
      object-fit: contain;
    }
    &-container {
      display: flex;
    }
    &-text {
      font-size: 2rem;
      margin-left: 20px;
      font-weight: 300;
    }
  }
  &__title {
    text-align: left;
    transition: 0.5s;
    &:hover {
      letter-spacing: .2rem;
      cursor: pointer;
      & > .navigation__logo-container > .navigation__logo-img {
        @include shake-animation;
      }
    }
  }
}
