.separator {
  background-image: url("../../assets/images/trigo.webp");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  &__mask {
    background-image: url("../../assets/images/parallaxpattern.webp");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
