@mixin button {
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 0.9rem;
  font-weight: bold;
  outline: none;
  border: none;
  text-transform: uppercase;
  transition: 0.2s;
}
@mixin button-gradient {
  @include button;
  color: $white;
  background: linear-gradient(to left, $darker-main-color, $main-color);
  text-transform: uppercase;
  border: 1px solid $main-color;
  &:hover {
    color: $main-color;
    background: $white;
  }
}

@mixin button-white {
  @include button;
  color: $main-color;
  background-color: $white;
  text-transform: uppercase;
  border: none;
  &:hover {
    color: $white;
    background: $main-color;
    border: 1px solid $white;
  }
}

@mixin shadow {
  box-shadow: 10px 10px 26px -9px rgba(0, 0, 0, 0.23);
}
@mixin strong-shadow {
  box-shadow: 0 7px 16px 0 rgb(0 0 0 / 20%), 0 1px 3px 0 rgb(0 0 0 / 10%);
}

@mixin shake-animation {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(0);
  }
  90% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
