$title-color: rgb(59, 57, 57);
// $main-color: rgb(41, 73, 89);
$main-color: #133469;
$main-comp-color: #136763;
$blueberry: rgb(89, 107, 136);
$transparent-main-color: rgba(41, 73, 89, 0.64);
$darker-main-color: rgb(20, 23, 38);
$text-gray: rgb(114, 111, 111);
$light-text-gray: #8d8e91;;
// $text-gray: rgb(152, 152, 152);
$black: #101010;
$white: #eeeeee;
$transparent-white: rgba(255, 255, 255, 0.72);
$bezier: transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
$fast-bezier: transform 0.2s cubic-bezier(0.5, 1, 0.89, 1);
$main-padding: 3vw;
